.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.headings {
    font-size: 24px;
    text-align: center;
    align-items: center;
    align-self: center;
    align-content: center;
}
